logdata:
  image: busybox
  volumes:
   - /var/log
   
entry:
  image: fusepoolp3/entry-resource
  ports:
   - "80:8080"
  volumes:
    - marmotta-backend-config.js:/etc/fusepool-p3/backend-config.js
   
   
core:
  image: fusepoolp3/platform-reference-implementat
  ports:
   - "8181:8181"
   - "8151:8151"
   - "8200:8200"
   - "8201:8201"
   - "8202:8202"
   - "8203:8203"
   - "8204:8204"
   - "8205:8205"
   - "8300:8300"
   - "8301:8301"
   - "8302:8302"
   - "8303:8303"
   - "8304:8304"
   - "8305:8305"
   - "8306:8306"
   - "8307:8307"
   - "8308:8308"
   - "8388:8388"
  volumes:
    - ./core/ELK/logstash-config/patterns:/etc/logstash-config/patterns/
    - ./core/ELK/logstash-ssl:/etc/ssl/
    - ./core/ELK/logstash-forwarder.conf:/etc/logstash-forwarder.conf
  environment:
   - LDPURI=http://ldp:8080/
   
batchrefine:
  image: fusepool/p3-batchrefine
  ports:
   - "8310:8310"

openrefine:
  image: fusepool/openrefine
  ports:
    - "8389:3333"


elk:
  image: willdurand/elk
  ports:
    - "9200:9200"
    - "8387:80"
    - "127.0.0.1:5043:5043"
#    - 5043:5043"
  volumes:
    - ./core/ELK/logstash-ssl:/etc/ssl
    - ./core/ELK/logstash-config:/etc/logstash
#  links:
#   - core


pundittransformer:
  image: danilogiacomi/pundittransformer
  ports:
   - "8386:80"

#environment:
#   - IR_URL=`/sbin/ifconfig eth0 | grep "inet addr" | awk -F: '{print $2}' | awk '{print $1}'` 
