core:
  image: fusepoolp3/platform-reference-implementat
  ports:
   - "80:80"
   - "8181:8181"
   - "8151:8151"
   - "8200:8200"
   - "8201:8201"
   - "8202:8202"
   - "8203:8203"
   - "8204:8204"
   - "8205:8205"
   - "8300:8300"
   - "8301:8301"
   - "8302:8302"
   - "8303:8303"
   - "8304:8304"
   - "8305:8305"
   - "8306:8306"
   - "8307:8307"
   - "8308:8308"
   - "8310:8310"
   - "8386:8386"
   - "8387:8387"
   - "8388:8388"
  privileged: true